*{
     box-sizing: border-box;
}



html,body{
     height: 100%;
     width: 100%;

}

#section-from{
     height: 100%;
     width: 100%;
     display: table;
     background-image: linear-gradient(
          rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)
     ),url('img/Crain.jpg');
     background-size: cover;
}